@namespace MudBlazor.StaticInput

@inherits MudCheckBox<bool>

<MudInputControl Class="@Classname" Style="@Style" Error="@HasErrors" ErrorText="@GetErrorText()" Required="@Required">
    <InputContent>
        <label class="@LabelClassname" @onclick:stopPropagation="@StopClickPropagation">
            <span tabindex="0" class="@IconClassname">
                <input type="hidden" name="@(_checkboxValue ? "" : _name)" value="False" />
                <input tabindex="-1" @attributes="@UserAttributes" type="checkbox" class="mud-checkbox-input" name="@(_checkboxValue ? _name : "")" 
                       value="True" aria-checked="@_checkboxValue.ToString().ToLower()" aria-readonly="@(GetDisabledState().ToString().ToLower())"
                       disabled="@GetDisabledState()" @onclick:preventDefault="@GetReadOnlyState()"/>
                <MudIcon Icon="@CheckedIcon" Color="HasErrors ? Color.Error : this.Color" Size="@Size" 
                         id="@($"check-icon-{_elementId}")" style="@($"display: {_checkedStyle}")"/>
                <MudIcon Icon="@UncheckedIcon" Color="HasErrors ? Color.Error : this.UncheckedColor ?? Color.Inherit" Size="@Size"
                         id="@($"unchecked-icon-{_elementId}")" style="@($"display: {_uncheckedStyle}")"/>
            </span>
            @if (!string.IsNullOrEmpty(Label))
            {
                <MudText Color="HasErrors ? Color.Error : Color.Inherit">@Label</MudText>
            }
            @if (ChildContent is not null)
            {
                <MudText Color="HasErrors ? Color.Error : Color.Inherit">
                    @ChildContent
                </MudText>
            }
        </label>
    </InputContent>
</MudInputControl>

@code {
    [Parameter] public Expression<Func<bool>>? ValueExpression { get; set; }

    private string _name = string.Empty;
    private bool _checkboxValue = false;
    private string _checkedStyle = string.Empty;
    private string _uncheckedStyle = string.Empty;
    private readonly string _elementId = Guid.NewGuid().ToString()[..8];

    protected override void OnParametersSet()
    {
        if (IsStatic())
        {
            UserAttributes["data-mud-static-type"] = "checkbox";
            UserAttributes["data-mud-static-name"] = _name;
        }
        else
        {
            UserAttributes.Remove("data-mud-static-type");
            UserAttributes.Remove("data-mud-static-name");
            UserAttributes.Remove("data-mud-static-initialized");
        }

        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        var expression = ValueExpression?.ToString();

        if (!string.IsNullOrEmpty(expression))
        {
            var index = expression.LastIndexOf(").", StringComparison.Ordinal);

            if (index > 0)
            {
                _name = expression[(index + 2)..];

                var compiledExpression = ValueExpression!.Compile();

                _checkboxValue = compiledExpression();
                _checkedStyle = _checkboxValue ? "block" : "none";
                _uncheckedStyle = _checkboxValue ? "none" : "block";

                if (_checkboxValue)
                {
                    UserAttributes["checked"] = true;
                }
            }
        }

        base.OnInitialized();
    }
}
