@namespace MudBlazor.StaticInput

@using MudBlazor.Extensions
@inherits MudSwitch<bool>

<MudInputControl Class="@Classname" Style="@Style" Error="@HasErrors" ErrorText="@GetErrorText()" Required="@Required">
    <InputContent>
        <label class="@LabelClassname" style="@Style">
            <span class="@SpanClassname">
                <span tabindex="0" class="@SwitchClassname" id="@($"switch-container-{_elementId}")">
                    <span class="mud-switch-button">
                        <input type="hidden" id="@($"empty-switch-{_elementId}")" name="@(_switchValue ? "" : _name)" value="False" aria-required="@Required.ToString().ToLowerInvariant()" />
                        <input tabindex="-1" @attributes="@UserAttributes" type="checkbox" class="mud-switch-input" name="@(_switchValue ? _name : "")" 
                               value="True" aria-checked="@_switchValue.ToString().ToLower()" aria-readonly="@(GetDisabledState().ToString().ToLower())"
                               id="@($"static-switch-{_elementId}")" disabled="@GetDisabledState()" @onclick:preventDefault="@GetReadOnlyState()"
                               aria-required="@Required.ToString().ToLowerInvariant()" />
                        <span class="@ThumbClassname">
                            @if (!string.IsNullOrEmpty(ThumbIcon))
                            {
                                <MudIcon id="@($"switch-icon-{_elementId}")" Color="@ThumbIconColor" Icon="@ThumbIcon" Style="padding: 2px; height:inherit; width: inherit;"/>
                            }
                        </span>
                    </span>
                </span>
                <span id="@($"switch-track-{_elementId}")" class="@TrackClassname"></span>
            </span>
            @if (!string.IsNullOrEmpty(Label))
            {
                <MudText Class="@(Typo is null ? LabelClassname : $"mud-typography-{Typo.Value.ToDescriptionString()}")" Color="HasErrors ? Color.Error : Color.Inherit">
                    @Label
                </MudText>
            }
            @if (ChildContent != null)
            {
                <MudText Class="@(Typo is null ? LabelClassname : $"mud-typography-{Typo.Value.ToDescriptionString()}")"  Color="HasErrors ? Color.Error : Color.Inherit">
                    @ChildContent
                </MudText>
            }
        </label>
    </InputContent>
</MudInputControl>

@code {
    [Parameter] public Typo? Typo { get; set; }
    [Parameter] public Expression<Func<bool>>? ValueExpression { get; set; }

    private string _name = string.Empty;
    private bool _switchValue = false;
    private readonly string _elementId = Guid.NewGuid().ToString()[..8];

    protected override void OnParametersSet()
    {
        if (IsStatic())
        {
            UserAttributes["data-mud-static-type"] = "switch";
            UserAttributes["data-mud-static-name"] = _name;
            UserAttributes["data-mud-static-checked-text-color"] = CheckedTextColor;
            UserAttributes["data-mud-static-checked-hover-color"] = CheckedHoverColor;
            UserAttributes["data-mud-static-unchecked-text-color"] = UncheckedTextColor;
            UserAttributes["data-mud-static-unchecked-hover-color"] = UncheckedHoverColor;
            UserAttributes["data-mud-static-checked-color"] = CheckedColor;
            UserAttributes["data-mud-static-unchecked-color"] = UnCheckedColor;
        }
        else
        {
            UserAttributes.Remove("data-mud-static-type");
            UserAttributes.Remove("data-mud-static-name");
            UserAttributes.Remove("data-mud-static-checked-text-color");
            UserAttributes.Remove("data-mud-static-checked-hover-color");
            UserAttributes.Remove("data-mud-static-unchecked-text-color");
            UserAttributes.Remove("data-mud-static-unchecked-hover-color");
            UserAttributes.Remove("data-mud-static-checked-color");
            UserAttributes.Remove("data-mud-static-unchecked-color");
            UserAttributes.Remove("data-mud-static-initialized");
        }

        base.OnParametersSet();
    }

    protected override void OnInitialized()
    {
        var expression = ValueExpression?.ToString();

        if (!string.IsNullOrEmpty(expression))
        {
            var index = expression.LastIndexOf(").", StringComparison.Ordinal);

            if (index > 0) 
            {
                _name = expression[(index + 2)..];

                var compiledExpression = ValueExpression!.Compile();

                _switchValue = compiledExpression();

                if (_switchValue)
                {
                    UserAttributes["checked"] = true;
                }
            }
        }

        base.OnInitialized();
    }

}
